.formulario {
    background-color: gray;
    width: min(60rem, 100%);
    margin: 0 auto;
    padding: 2rem;
    border-radius: 1rem;
    overflow-y: hidden;

    legend {
        text-align: center;
        font-size: 1.8rem;
        text-transform: uppercase;
        font-weight: 500;
        margin-bottom: 2rem;
    }

    .campo {
        margin-bottom: 1rem;

        label {
            font-weight: bold;
            margin-bottom: 0.5rem;
            display: block;
        }

        .input-text {
            width: 90%;
            padding: 1.5rem;
            border-radius: 0.5rem;
        }
    }
}

@media screen and (max-width: 767px) {
    .formulario {
        width: auto;
    }
}